

.login-page{
  display: flex;
  align-items: center;
  justify-content:center;
  height: 100vh;
  
  background: url('../pages/image1.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  padding-right: 50vw;
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  z-index: 1;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}


h1 {
  text-shadow: 2px 2px;
}

.login-box {
  width: '30vw';
            padding: 50px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 1);
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            z-index: 2

}

.login-box h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.login-box .ant-form-item-label > label {
  color: black;
  font-size: 20px;
}

.login-box .ant-input {
  background: rgba(255, 255, 255, 0.2);
  color: black;
}

.login-box .ant-input:focus,
.login-box .ant-input:hover {
  background: rgba(255, 255, 255, 0.3);
}

.login-box .ant-btn-primary {
  background-color: black;
  border-color: white;
 
}

.login-box .ant-btn-primary:hover {
  background-color: #000000;
  border-color: #000000;
}

.login-box .d-flex {
  justify-content: space-between;
}

.login-box .btn-primary {
  background-color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  border-radius: 50px;
  transition: background-color 0.3s;
  width: 150px;
  margin-left: 50px;
  margin-top: 60px;
  font-size: 20px;
}

.login-box .btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.544);
  color: black;
}

.login-box a {
  color: #00aaff;
}

.d-flex.justify-content-center {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust spacing above the link and button */
  color: black;
  
}



/* Styling the link */
.register-link {
  color:white !important; /* Changing link color to black */
  font-size: 18px; /* Increasing font size */
  text-decoration: none; /* Remove default underline */
  transition: color 0.3s; /* Smooth transition for color change */
}

