/* Analytics.css */
.card {
    margin-bottom: 20px;
    border:2px solid brown !important;
    margin-top: 20px;
    border-radius: 20px;
    background: rgb(213, 235, 245)
  }
  
  .row {
    justify-content: center;
  }
  
  .card-body {
    text-align: center;
    
  }
  
  .custom-progress .ant-progress-inner {
    width: 100% !important;
  }
  
  .custom-progress .ant-progress-bg {
    transition: width 1s ease-in-out;
  }

  .container{
    background-color: rgb(213, 235, 245);
    border-radius: 0px;
  
  }